<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>

    <body>
        

        <div class="container">
            <div class="item" id="bank_accounts"><img src="static/images/bank_account.png" class="icon"><a href="http://127.0.0.1:5000/bank-accounts" class="item_text">Счета</a></div>
            <div class="item" id="sources_of_income"><img src="static/images/income.png" class="icon"><p class="item_text">Доходы</p></div>
            <div class="item" id="spendind_categories"><img src="static/images/categories.png" class="icon"><p class="item_text">Категории</p></div>
            <div class="item" id="main_statistics"><p class="item_text">Статистика расходов и доходов</p></div>
            <div class="item" id="more_metrics"><img src="static/images/statistics.png" class="icon"><p class="item_text none_bold">Другие метрики</p></div>
            <div class="item" id="new_expense"><img src="static/images/Arrow-Down.png" class="icon"><p class="item_text">Новая трата</p></div>
            <div class="item" id="new_income"><img src="static/images/Arrow-Up.png" class="icon"><p class="item_text">Новый доход</p></div>
        </div>

    </body>
</html>


